body{
    background:linear-gradient(#222,#000);
    color:#EEE;
}

a{
    text-decoration:none;
}
.menubar a{
    color:#111;
}
.content a{
    color:#EEE;
}

.menubar{
    position:fixed;
    left:0;
    top:0;
    background:#EEE;
    width:100%;
    border-bottom:solid 1px #888;
}
.menubuttons{
    display: flex;
    justify-content: center;
    margin:0;
    padding:0;
    color:#111;
}
.menubutton{
    border-right:solid 1px #888;
    cursor:pointer;
    list-style-type:none;
    /*transition:background-color 0.5s linear 0;*/
    transition-duration:0.25s;
}
.menubutton a{
    display:block;
    padding:0.5em 1em;
}
.menubutton:nth-child(1){
    font-weight:bold;
}
.menubutton:first-child{
    border-left:solid 1px #888;
}
.menubutton:hover{
    background-color:#888;
    transition-duration:0.25s;
}

.content{
    padding-top:120px;
}
.content>div{
    margin-bottom:60px;
}

.title{
    text-align: center;
}
.title img{
    display:block;
    margin:0 auto;
}

.text{
    margin:0 auto;
    padding:1em;
    max-width:30em;
    background:#EEE;
    color:#111;
}
.intro>ul{
    margin:0;
}
.introduction{
    background:rgb(241, 238, 196);
    color:#111;
    padding:1em;
    max-width:26em;
    margin:0 auto 1em auto;
    border-radius:1em;
    box-shadow:0.5em 0.5em #888;
    border:1px solid #111;
}

.int-game{
    text-align: center;
}
.btn{
    width:350px;
    height:120px;
    background:#333;
    margin:0.5em auto 0 auto;
    box-shadow:0 0 2px 2px rgba(0,0,0,1);
    transition-duration:0.2s;
}
.btn:hover{
    opacity:0.8;
}
.sendForm{
    display: inline-block;
    color:#29b!important;
    text-decoration:underline;
}

footer{
    width:100%;
    position:fixed;
    right:0;
    bottom:0;
    border-top:1px solid #888;
    background:#EEE;
    color:#111;
    text-align:right;
    padding-right:2em;

}