body{
    background:#222;
    color:#EEE;
}

a{
    text-decoration:none;
}
.menubar a{
    color:#111;
}

.menubar{
    position:fixed;
    left:0;
    top:0;
    background:#EEE;
    width:100%;
    border-bottom:solid 1px #888;
    z-index: 1;
}
.menubuttons{
    display: flex;
    justify-content: center;
    margin:0;
    padding:0;
    color:#111;
}
.menubutton{
    border-right:solid 1px #888;
    cursor:pointer;
    list-style-type:none;
    /*transition:background-color 0.5s linear 0;*/
    transition-duration:0.25s;
}
.menubutton a{
    display:block;
    padding:0.5em 1em;
}
.menubutton:nth-child(4){
    font-weight:bold;
}
.menubutton:first-child{
    border-left:solid 1px #888;
}
.menubutton:hover{
    background-color:#888;
    transition-duration:0.25s;
}

.content{
    background-image:url("/img/page/bg_level6.png");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    padding-top:120px;
    padding-bottom:1em;
    height:-webkit- fill-available;
    height:-moz- fill-available;
}
.content>div{
    margin-bottom:40px;
}

.intro{
    margin:0 auto;
    padding:1em;
    max-width:30em;
    background:#EEE;
    color:#111;
}

.staff{
    background:#EEE;
    max-width:40em;
    margin:0 auto;
    color:#111;
    padding:1em;
    z-index:0;
    overflow:auto;
}
.staff img{
    display:block;
    width:128px;
    height:128px;
    float:left;
    margin-right:1em;
}

.twitter{
    position: absolute;
    background:rgba(62, 216, 255);
    color:#3ed8ff;
    width:2em;
    height:2em;
    display:block;
    text-align:center;
    line-height: 2em;
    border-radius:0.5em;
    transition-duration:0.25s;
    font-weight:bold;
    border:1px solid #EEE;
    cursor:pointer;
    opacity: 0.55;
    overflow: hidden;
}
.twitter:hover{
    background:rgb(62, 216, 255);
    color:white;
    width:5em;
    opacity: 1;
}

.icon{
    border-radius:200px;
}

footer{
    width:100%;
    position:fixed;
    right:0;
    bottom:0;
    border-top:1px solid #888;
    background:#EEE;
    color:#111;
    text-align:right;
    padding-right:2em;

}